@(message: String)

@main("Current Standings") {
    
	<script type="text/javascript">
		$.ajax({
			type: "GET",
			url: "/standings/all",
			contentType: "text/json",
			success: function(data){
					$(data).each(function(i,d){
						$("#standingsList").append($('<li data-theme="b">' + d.teamName + 
							'<span class="ui-li-count">' + d.gamesWon + '-' + d.gamesLost + '</span></li>'));
					})
				}
		})
	</script> 
        <!-- Home -->
            <div class="contentWrapper">
                <h2>
                    Current Standings
                </h2>
                <ol id="standingsList" >
                </ol>
		<a href="/manager/home">Manager Home </a>
            </div>
}
