@(message: String)

@main(message) {
    
	<script type="text/javascript">
		$.ajax({
			type: "GET",
			url: "/standings/all",
			contentType: "text/json",
			success: function(data){
					$(data).each(function(i,d){
						$("#standingsList").append($('<li data-theme="b"><a href="#">' + d.teamName + 
							' <span class="seasonRecord">' + d.gamesWon + '-' + d.gamesLost + '</span></a></li>'));
					})
				}
		})
	</script> 
	<!-- Home -->
    <div class="container">
	    <div class="row">
		    <div class="span4 offset1">
			<h2>
			    current standings
			</h2>
			<ol id="standingsList" class="nav nav-tabs nav-stacked">
			</ol>
		    </div>
	    </div>
    </div>
}
